body {
    background-color: #a89259;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 100%;

}
/* comment line
h2 {
   background-color: black;
   color: white;
}*/
div {
    width: 65%;
    height: 80%;
    border: 10px salmon;
    margin: 10px;
    margin-left: 15%;
}
/*
.one {
    background-color: lightblue;
}*/
.two {
    background-color: rgb(255, 157, 127);
}
.one {
    background-color: rgb(0, 255, 157);
}
.three {
    background-color: yellowgreen;
}


